*-checkpoint.ipynb
*.aux
*.synctex.gz
*.log
*.bak
*.fls
*.aux
*.bib
*.bbi
*.text
*.txt
!**/requirements.txt
*.xlsx
*.pdf
*.mat
*.m
*.csv
ppt/
drug-DI/drug_review.ipynb
**/__pycache__/
**/venv/
**/*.pyc
!heroku_intro/heroku-test-app/Procfile
!heroku_intro/heroku-test-app/hello.py
