*-checkpoint.ipynb
*.aux
*.synctex.gz
**.pyc
*.log
*.bak
*.fls
*.aux
*.bib
*.bbi
*.text
*.txt
!**/requirements.txt
*.xlsx
*.pdf
*.mat
*.m
*.csv
ppt/
drug-DI/drug_review.ipynb
**/__pycache__/*
**/venv/
**/*.pyc
drug-DI/heroku_intro/heroku-test-app/.git
drug-DI/heroku_intro/heroku-test-app/.gitignore
!drug-DI/heroku_intro/heroku-test-app/requirements.txt
!drug-DI/heroku_intro/heroku-test-app/Procfile
!drug-DI/heroku_intro/heroku-test-app/hello.py
