
<style>
    @font-face {
        font-family: "Computer Modern";
        font-size: 100%;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunss.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        font-size: 100%;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsx.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-style: oblique;
        font-size: 100%;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsi.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        font-style:oblique;
        font-size: 100%;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunso.otf');
    }
    @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
    div.text_cell_render{
        font-family: Abel , sans-serif;/*Computer Modern, "Helvetica Neue", Arial, Monaco, Helvetica, Geneva, Lato, sans-serif;*/
        line-height: 120%;
        font-size: 120%; /* This affects the markdown cells */
        width:925px;
        margin-left:1% !important;
        margin-right:1% !important;
    }
    div.text_cell_render h1{
        font-family: Helvetica;
        font-weight: bold;
        font-size: 180%;
        line-height: 180%;
        margin-top:2% !important;
        margin-bottom:2% !important;
       }
    div.text_cell_render h2{
        font-family: Helvetica;
        /*font-weight: bold;*/
        /*font-style:oblique;*/
        font-size: 150%;
        line-height: 150%;
        margin-top:2% !important;
        margin-bottom:2% !important;
       }
/*    div.text_cell_render h3{
        font-family: Computer Modern, !important;
        font-size: 125%;
        font-weight: bold;
        margin-top:2% !important;
        margin-bottom: 2% !important;
       }*/
/*    div.text_cell_render h4{
        font-family: Monaco, !important;
        font-size: 110%;
        font-weight: bold;
        margin-top:2% !important;
        margin-bottom: 2% !important;
       }*/
    div.text_cell_render h3{
        font-family: Geneva, !important;
        font-size: 130%;
        margin-top:2% !important;
        margin-bottom: 2% !important;
       }
    div.text_cell_render h4{
        font-family: Computer Modern;
        font-size: 120%;
        font-weight: bold;
        margin-top:2% !important;
        margin-bottom: 2% !important;
       }
    div.cell{/* Tunes the space between cells */
        width:950px;
        margin-left:2% !important;
        margin-right:2% !important;
    }
    .CodeMirror{
    font-family: Monaco, source-code-pro,Consolas, monospace;
    font-size: 14pt; /* This affects the code cells */
    line-height: 120%;
    
    }
    .CodeMirror pre {
    font-family: Monaco;
    font-size: 44pt; /* This affects the code cells */
    line-height: 220%;
    }
    /*
    .prompt{
        display: None;
    */
    }
    .warning{
        color: rgb( 240, 20, 20 )
        } 

div.start {    
    font-family: Helvetica;
    font-size: 14pt; /* This affects the code cells */
    line-height: 130%; 
    background-color: #87CEFA;
    border-color: #191970;
    border-left: 5px solid #000080;
    padding: 0.5em;
    }  
div.warn {    
    font-family: Monaco;
    font-size: 14pt; /* This affects the code cells */
    font-weight: bold;
    line-height: 130%; 
    text-align: center;
    background-color: #FFC0CB;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    } 
div.success {   
    font-family: Grenze Gotisch;
    font-size: 14pt; /* This affects the code cells */
    font-weight: bold;
    line-height: 130%; 
    text-align: center;
    background-color: #98FB98;
    border-color: #006400;
    border-left: 5px solid #556b2f;
    padding: 0.5em;
    }
div.fullcode { 
    font-family: Monaco;
    font-size: 12pt; /* This affects the code cells */
    line-height: 100%; 
    text-align: center;
    background-color: #FAFAD2;
    border-color: #FAFAD2;
    border-left: 5px solid #FFD700;
    justify-content:center;
    align-items:center;
    /*padding: 0.5em;*/
    }
.fullcode > div {
    border: 1px solid white;
    height: 40px;
}
.left {
  font-size: 12pt; /* This affects the code cells */
   background-color: #FAFAD2;
   border-color: #FAFAD2;
  border-left: 5px solid #FFD700;
   font-family: Monaco;
   font-weight: bold;
   text-align: left;
   padding-left: 10px; 
  padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   vertical-align:middle;
}
.summary {
  font-size: 14pt; /* This affects the code cells */
    background-color: #E6B0AA;
    border-color: #5D6D7E;
    border-left: 5px solid #5D6D7E;
    line-height: 150%; 
   font-family: Computer Modern;
   text-align: left;
   padding-left: 10px; 
  padding-top: 10px;
   padding-bottom: 10px;
   /*display: flex;*/
   /*vertical-align:middle;*/
}

.right {
    /*width: 500px;*/
  font-family: Helvetica;
  background-color:#ddd;
  text-align: left;
  padding-left: 10px;
  display: inline-flex;
  vertical-align:middle;
}
div.output_area {
  flex-direction: column;
  border-bottom: 1px dashed #ddd;
}
div.output_subarea {
  padding: 5px;
  padding-left: 10px;
}
div.output_prompt {
  color: #666;
}
div.output_text {
  line-height: inherit;
}
div.output_stderr {
  background-color: transparent;
}
div.output_scroll {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
}
div.output_collapsed {
  margin-top: 5px;
  padding: 10px;
  background: center url('data:image/svg+xml;utf8,<svg fill="#bbb" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat;
  text-indent: -9999px;
  border-radius: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}
div.output_collapsed:hover,
div.output_collapsed:active {
  background: center url('data:image/svg+xml;utf8,<svg fill="#999" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 0 1px #ccc;
}
div.out_prompt_overlay {
  height: auto;
  width: 18px;
  left: -10px;
  top: 5px;
  bottom: 5px;
  padding: 0!important;
  box-shadow: none !important;
  transition: all 0.2s ease-in-out;
}
div.out_prompt_overlay:hover {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 0 1px #ccc!important;
}
div.out_prompt_overlay:active {
  background-color: rgba(0, 0, 0, .2);
}
.rendered_html h1,
.rendered_html h2,
.rendered_html h3,
.rendered_html h4,
.rendered_html h5,
.rendered_html h6,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-family: inherit;
  line-height: inherit;
  font-weight: 300;
}
.rendered_html h1:first-child,
.rendered_html h1,
.rendered_html h2,
.rendered_html h3,
.rendered_html h4,
.rendered_html h5,
.rendered_html h6 {
  margin-top: .5em;
}
.rendered_html h1,
.cm-header-1 {
  font-size: 300%;
}
.rendered_html h2,
.cm-header-2 {
  font-size: 200%;
}
.rendered_html h3,
.cm-header-3 {
  font-size: 150%;
}
.rendered_html h4,
.cm-header-4 {
  font-size: 125%;
}
.rendered_html h5,
.cm-header-5 {
  font-size: 110%;
}
.rendered_html h6,
.cm-header-6 {
  font-size: 100%;
}
.rendered_html table,
.rendered_html th,
.rendered_html tr,
.rendered_html td {
  border: 1px #333 solid;
}
table.dataframe tr {
  border: 1px #ddd;
}

/* mixed cells */

div.cell {
  width: auto;
  /*margin-bottom: 5px;*/
}
div.cell.text_cell + div.cell.text_cell {
  /* to reduce the margin between two text cells */
  margin-top: -10px;
}
div.cell,
.edit_mode div.cell,
div.cell.selected,
.edit_mode div.cell.selected,
div.cell.jupyter-soft-selected,
div.cell.selected.jupyter-soft-selected {
  border: none;
  border-radius: 0;
  margin: 5px;
  padding: 10px;
  padding-left: 10px;
  background: none;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}
div.cell.selected,
div.cell.jupyter-soft-selected,
div.cell.selected.jupyter-soft-selected {
  box-shadow: 0 0 5px #333;
  background: #fff;
}
.edit_mode div.cell.selected {
  box-shadow: 0 0 5px #a71d5d;
}
div.rendered_html,
div.CodeMirror-lines {
  padding: 3px;
}
.edit_mode div.cell.selected .input_area {
  background: none;
}
div.code_cell .CodeMirror {
  font-size: 13px;
}
div.code_cell,
div.output_text {
  font-size: 13px;
}
div.prompt {
  min-width: auto;
  padding: 5px 5px 5px 0;
  line-height: inherit;
  text-align: left;
  border-radius: 0;
}
div.text_cell > div.prompt {
  display: none;
}
div.timing_area {
  border-top: dashed 1px #e8e8e8;
  text-align: right;
}

/* cell toolbar */

.celltoolbar {
  border: none;
  background: transparent;
}
.ctb_global_show .ctb_show ~ div.text_cell_render {
  border: none;
}

/* style python code syntax */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #333 !important;
  box-shadow: inset 0px 0px 1px #ed6a43;
  border-radius: 2px;
}
.cm-s-ipython .CodeMirror-gutters {
  background-color: transparent;
  border-right: solid 1px #ddd;
  color: rgba(0, 0, 0, 0.3);
}
.cm-s-ipython .CodeMirror-linenumber {
  color: rgba(0, 0, 0, 0.3);
}
.cm-s-ipython span.cm-number {
  color: #0086b3;
}
.cm-s-ipython span.cm-property,
.cm-s-ipython span.cm-attribute {
  color: #689c00;
}
.cm-s-ipython span.cm-keyword {
  color: #a71d5d;
}
.cm-s-ipython span.cm-string {
  color: #183691;
}
.cm-s-ipython span.cm-operator {
  color: #a71d5d;
}
.cm-s-ipython span.cm-builtin {
  color: #0086b3;
}
.cm-s-ipython span.cm-variable {
  color: #333;
}
.cm-s-ipython span.cm-variable-2 {
  color: #ed6a43;
}
.cm-s-ipython span.cm-def {
  color: #795da3;
}
.cm-s-ipython span.cm-error {
  background: #e00;
  color: #fff!important;
}
.cm-s-ipython span.cm-bracket {
  color: #49483e;
}
.cm-s-ipython span.cm-comment {
  color: #999;
}
.cm-s-ipython span.cm-tag {
  color: #183691;
}
.cm-s-ipython span.cm-atom {
  color: #183691;
}

/* markdown style */

.cm-s-default .cm-tag {
  color: #183691;
}
.cm-s-default .cm-comment {
  color: #0086b3;
}
.cm-s-default .cm-string {
  color: #4078c0;
}
.cm-s-default .cm-link {
  color: #183691;
}
.cm-s-default .cm-header {
  color: #1d3e81;
}
.cm-s-default .cm-quote {
  color: #183691;
}

/* error in output */

span.ansiblack {
  color: #333;
}
span.ansiblue {
  color: #183691;
}
span.ansigray {
  color: #807d7c;
}
span.ansigreen {
  color: #3f8600;
}
span.ansipurple {
  color: #a71d5d;
}
span.ansired {
  color: #ed6a43;
}
span.ansiyellow {
  color: #e0b700;
}
span.ansicyan {
  color: #0086b3;
}
.MathJax { font-size: 100% !important; }
.container { 
    width:80% !important; 
    font-size: 100% !important;}
.output_png {
    display: flex;
    align-items: center;
    text-align: center;
}
.output {
    display: flex;
    align-items: flex;/*center;*/
    font-size: 100%;
}
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px !important;  /* your desired max-height here */
}
div.output_wrapper {
    margin: 0 0 1em;
    transition: all 0.25s;
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
}
</style>
<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 6}}
                }
        });
</script>